<a href="https://colab.research.google.com/github/hadi-M/DS-Unit-3-Sprint-1-Software-Engineering/blob/master/module1-python-modules-packages-and-environments/HADI_MODARES_LS_DS_311_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install --index-url https://test.pypi.org/simple/ lambdata-hadi-M==1.0.3

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-hadi-M==1.0.3 in /usr/local/lib/python3.6/dist-packages (1.0.3)

In [0]:
# my own module imports
from lambdata_hadi_M.my_mod_1 import *

In [0]:
# 3rd party imports
from sklearn.datasets import load_boston
import pandas as pd

In [0]:
# getting data ready
dataset = load_boston()
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
df['target'] = dataset.target

In [7]:
# testing first function
beautiful_nan_table(df)

╒═══════════════════════╤════════╤══════╤═════════╤════════╤═══════╤══════╤═══════╤═══════╤═══════╤═══════╤═══════════╤═════╤═════════╤══════════╕
│                       │   CRIM │   ZN │   INDUS │   CHAS │   NOX │   RM │   AGE │   DIS │   RAD │   TAX │   PTRATIO │   B │   LSTAT │   target │
╞═══════════════════════╪════════╪══════╪═════════╪════════╪═══════╪══════╪═══════╪═══════╪═══════╪═══════╪═══════════╪═════╪═════════╪══════════╡
│ Number of Null Values │      0 │    0 │       0 │      0 │     0 │    0 │     0 │     0 │     0 │     0 │         0 │   0 │       0 │        0 │
╘═══════════════════════╧════════╧══════╧═════════╧════════╧═══════╧══════╧═══════╧═══════╧═══════╧═══════╧═══════════╧═════╧═════════╧══════════╛

In [8]:
df = df.iloc[:100]
df.shape

(100, 14)

In [9]:
# testing second function
train, validate, test = train_valiadate_test_split(df, 0.5, 0.3, 0.2)

display(len(train))
display(len(validate))
display(len(test))

50

30

20

In [10]:
# testing third function
df = list_to_new_col(df, len(df)*[0], "ZEROS")
display(df)

       CRIM    ZN  INDUS  CHAS    NOX  ...  PTRATIO       B  LSTAT  target  ZEROS
0   0.00632  18.0   2.31   0.0  0.538  ...     15.3  396.90   4.98    24.0      0
1   0.02731   0.0   7.07   0.0  0.469  ...     17.8  396.90   9.14    21.6      0
2   0.02729   0.0   7.07   0.0  0.469  ...     17.8  392.83   4.03    34.7      0
3   0.03237   0.0   2.18   0.0  0.458  ...     18.7  394.63   2.94    33.4      0
4   0.06905   0.0   2.18   0.0  0.458  ...     18.7  396.90   5.33    36.2      0
..      ...   ...    ...   ...    ...  ...      ...     ...    ...     ...    ...
95  0.12204   0.0   2.89   0.0  0.445  ...     18.0  357.98   6.65    28.4      0
96  0.11504   0.0   2.89   0.0  0.445  ...     18.0  391.83  11.34    21.4      0
97  0.12083   0.0   2.89   0.0  0.445  ...     18.0  396.90   4.21    38.7      0
98  0.08187   0.0   2.89   0.0  0.445  ...     18.0  393.53   3.57    43.8      0
99  0.06860   0.0   2.89   0.0  0.445  ...     18.0  396.90   6.19    33.2      0

[100 rows x 15 columns]